.env
.env*
.DS_*
/vendor/
**/node_modules/
**/dist/
**/blocks/

ewww/
logs/
mcloud-reports/
mcloud-view-cache/
**/cache
**/*config

**/wflogs
**/wpvivid*

**/node_modules
**/twenty*
mu-plugins
plugins
themes/twenty*
uploads

auth.json
