.env
.env*
.DS_*
/vendor/
**/node_modules/
**/dist/
**/blocks/

ewww/
logs/
mcloud-reports/
mcloud-view-cache/

**/wflogs
**/wpvivid*

**/vendor
**/node_modules
**/twenty*
mu-plugins
plugins
themes
uploads
