.mm {
  &--product_content {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &--featured_image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center center;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(25px) hue-rotate(0deg);
  }

  &-add_to_cart {
    color: var(--e-global-color-primary) !important;
    background-color: var(--e-global-color-text);
    transition: all 0.2s;
    text-align: center;
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 3px;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    z-index: 99999;
    position: relative;

    &:hover {
      color: var(--e-global-color-primary) !important;
    }
  }

  &-buy_this {
    color: var(--e-global-color-accent) !important;
    max-width: 350px;
    text-align: center;
    z-index: 99999;
  }

  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(.75rem) hue-rotate(0deg);
    z-index: -1;

    &-overlay {
      background-color: black;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: .25;
    }
  }

  &-purchased {
    padding: 1rem;

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @media screen and (min-width: 360px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: 760px) {
        grid-template-columns: repeat(5, 1fr);
      }

      &__item {
        width: 100%;
        height: 150px;
        position: relative;

        .thumbnail{
          width: 100%;
          height: 100%;
          background-color: lightgrey;
          background-size: cover;
        }

        .info{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0,0,0,0.7);

          a {
            width: 85%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          }
        }
      }
    }
  }

  &-excerpt {
    margin-top: 1rem;
  }
}
